.vscode/**
.vscode-test/**
out/**
src/**
tests/**
demo-projects/**
node_modules/**
tsconfig.json
vite.config.ts
README.md
DEVELOPER.md
package-lock.json
.gitignore
.env.example
index.html
manifest.webmanifest
metadata.json
chrome/**
assets/images/*

# Keep the images but exclude images/screenshots
!assets/images/*.png
assets/images/screenshots/*

# Keep the built extension
!dist-extension/extension.cjs

#Keep the vscode extension source
!apps/vscode/**
